---
import { useSanityClient } from "astro-sanity";

import MainLayout from "../../layouts/MainLayout.astro";
import PortableText from "../../components/PortableText.astro";

export async function getStaticPaths() {
    const posts = await useSanityClient().fetch(`*[_type == "post"]`);

    return posts.map((post) => {
        return {
            params: { 
                slug: post.slug?.current || '',
            },
            props: { ...post },
        };
    });
}

const { title, author, date, body } = Astro.props;
---

<MainLayout title={title}>
    <h1 class="display-1">{title}</h1>
    <h2>{author.name} • {date}</h2>
    <PortableText portableText={body} />
</MainLayout>
